<mat-toolbar color="primary" class="footer">
  <div style="text-align:center">
    Contact Us:
    <a mat-icon-button class="btn-facebook" href="https://www.facebook.com/"><i class="fa fa-facebook fa-lg"></i></a>
    <a mat-icon-button class="btn-instagram" href="https://www.instagram.com/"><i class="fa fa-instagram fa-lg"></i></a>
    <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/"><i class="fa fa-vk fa-lg"></i></a>
    <a mat-icon-button class="btn-vk" href="https://www.vk.com/"><i class="fa fa-facebook fa-lg"></i></a>
    <a mat-icon-button class="btn-youtube" href="https://www.youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
    <a mat-icon-button class="btn-mail" href="mailto:teashop@teashop.com"><i class="fa fa-envelope-o fa-lg"></i></a>
  </div>
</mat-toolbar>
