<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <mat-list fxFlex>
    <mat-grid-list cols = '2' rowHeight = '350px'>
      <mat-grid-tile *ngFor="let pizza of pizzas">
        <img height="350px" src={{pizza.image}} alt={{pizza.name}}>
        <mat-grid-tile-footer>
          <h1 matLine>{{pizza.name}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-list>
<div fxFlex *ngIf="selectedPizza">
  <mat-card class = "card-container">
    <mat-card-header>
      <mat-card-title>
        <h3>{{selectedPizza.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{selectedPizza.image}} alt ={{selectedPizza.name}}>
    <mat-card-content>
      <p>{{selectedPizza.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>

