<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <mat-list fxFlex>
    <mat-grid-list cols = '2' rowHeight = '350px'>
      <mat-grid-tile *ngFor="let pizza of pizzas" (click)="onSelect(pizza)">
        <img height="350px" src={{pizza.image}} alt={{pizza.name}}>
        <mat-grid-tile-footer>
          <h1 matLine>{{pizza.name}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-list>

  <app-pizza-detail [pizza] = "selectedPizza"></app-pizza-detail>

</div>

