<mat-toolbar
             style="height: 118px;
             background: #ffffff;"
>

<!--    <mat-tab>-->
<!--      <ng-template mat-tab-label>-->
<!--        <mat-icon class="example-tab-icon">thumb_up</mat-icon>-->
<!--        First-->
<!--      </ng-template>-->
<!--      Content 1-->
<!--    </mat-tab>-->

  <a mat-button routerLink="/menu" >
    <img class="image"
         width="110"
         src="/assets/images/porsche_logo_PNG3.png" alt="Porsche">
  </a>

  <a mat-button routerLink="/porsche-detail/0" routerLinkActive="active">
    <img class="header-porsche" src="/assets/images/718@2x.jpeg" alt="718">
    <p>718</p>
  </a>

  <a mat-button routerLink="/porsche-detail/1" routerLinkActive="active">
    <img class=" header-porsche" src="/assets/images/911@2x.jpeg" alt="Porsche">
    <p>911</p>
  </a>
  <a mat-button routerLink="/porsche-detail/2" routerLinkActive="active">
    <img class=" header-porsche" src="/assets/images/cayenne@2x.jpeg" alt="Porsche">
    <p>Cayenne</p>
  </a>
  <a mat-button routerLink="/porsche-detail/3" routerLinkActive="active">
    <img class=" header-porsche" src="/assets/images/macan@2x.jpeg" alt="Porsche">
    <p>Macan</p>
  </a>
  <a mat-button routerLink="/porsche-detail/4" routerLinkActive="active">
    <img class=" header-porsche" src="/assets/images/panamera@2x.jpeg" alt="Porsche">
    <p>Panamera</p>
  </a>
  <a mat-button routerLink="/porsche-detail/5" routerLinkActive="active">
    <img class=" header-porsche" src="/assets/images/taycan@2x.jpeg" alt="Porsche">
    <p>Taycan</p>
  </a>




  <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Главная</a>
  <a mat-button routerLink="/about" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> О компании</a>
  <a mat-button routerLink="/menu" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Меню</a>
  <a mat-button routerLink="/contact" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Контакты</a>

  <span class="flex-spacer"></span>
  <a mat-button (click)="openOrderForm()">
    <mat-icon matBadge={{porscheService.orderedPorsches.length}}
              matBadgeColor="warn">shopping_cart
    </mat-icon>
  </a>



</mat-toolbar>

