$it-gray: #ddd;
$background-dark: #512da8;
$background-light: #adadad;
$background-pale: #d1c4e9;
$background-bright-grey: #eff0f1;

@mixin zero-margin($pad-up-down, $pad-left-right){
  margin: 0 auto ;
  padding:$pad-up-down $pad-left-right;
}
.jumbotron{
  @include zero-margin(20px, 30px);
  background: $background-light;
  color: floralwhite;
  min-height: 150px;
}
.active{
  background: $background-bright-grey;
}
