<mat-toolbar
             style="height: 118px;
             background: #ffffff;"
>
  <a mat-button routerLink="/menu" >
    <img class="image"
         width="110"
         src="/assets/images/porsche_logo_PNG3.png" alt="Porsche">
  </a>

  <a mat-button routerLink="/718" routerLinkActive="active">
    <img class="header-porsche" src="/assets/images/718@2x.jpeg" alt="718">
    <p>718</p>
  </a>

  <a mat-button routerLink="/911" routerLinkActive="active">
    <img class=" header-porsche" src="/assets/images/911@2x.jpeg" alt="Porsche">
    <p>911</p>
  </a>
  <a mat-button routerLink="/taycan" routerLinkActive="active">
    <img class=" header-porsche" src="/assets/images/taycan@2x.jpeg" alt="Porsche">
    <p>Taycan</p>
  </a>
  <a mat-button routerLink="/panamera" routerLinkActive="active">
    <img class=" header-porsche" src="/assets/images/panamera@2x.jpeg" alt="Porsche">
    <p>Panamera</p>
  </a>
  <a mat-button routerLink="/macan" routerLinkActive="active">
    <img class=" header-porsche" src="/assets/images/macan@2x.jpeg" alt="Porsche">
    <p>Macan</p>
  </a>
  <a mat-button routerLink="/cayenne" routerLinkActive="active">
    <img class=" header-porsche" src="/assets/images/cayenne@2x.jpeg" alt="Porsche">
    <p>Cayenne</p>
  </a>

  <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Главная</a>
  <a mat-button routerLink="/about" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> О компании</a>
  <a mat-button routerLink="/menu" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Меню</a>
  <a mat-button routerLink="/contact" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Контакты</a>
  <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Войти</a>
</mat-toolbar>

<!--<div class="container jumbotron"-->
<!--     fxLayout="row"-->
<!--     fxLayout.sm="column"-->
<!--     fxLayout.xs="column"-->
<!--     fxLayoutAlign.xs="start center"-->
<!--     fxLayoutAlign.sm="start center"-->
<!--     fxLayout.gt-sm="center center"-->
<!--     fxLayoutGap="10px"-->
<!--&gt;-->
<!--&lt;!&ndash;Добавить описание porshe&ndash;&gt;-->
<!--</div>-->
