<app-toolbar></app-toolbar>

<form novalidate #loginForm="ngForm" >
  <mat-dialog-content>
    <p>
      <mat-form-field class="field-space">
        <input matInput placeholder="Логин" type="text"
               [(ngModel)]="porscheService.user.username" name="username" class="active"
               #usename="ngModel" required >
        <mat-error *ngIf="usename.errors">Введите логин</mat-error>

      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Пароль" type="password"
               [(ngModel)]="porscheService.user.password" name="password"
               #password="ngModel" required >
        <mat-error *ngIf="password.errors">Введите пароль</mat-error>
      </mat-form-field>

  </mat-dialog-content>
</form>

<mat-dialog-actions>
  <button mat-button (click)="openSignUpForm()" >
    <u style="font-size: medium">Регистрация</u></button>
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close="true">Отменить</button>
  <button mat-button type="submit"
          (click)="onSubmit()"
          style="background: #191f22; color: white"
          [disabled]="loginForm.form.invalid">Войти
  </button>

</mat-dialog-actions>
